// Custom styles.
@media screen and (min-width:1200px) {

    body {
        background-image:url(/images/1.jpeg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center; 
        background-size:cover;
    }

    .content {
        border-radius: 3px;
        margin-top: 60px;
       
    }
    .main-inner { 
        padding: 60px 60px 60px 60px;
        background:rgba(255,255,255,0.8) none repeat scroll !important;
        min-height: 500px;
    }


    .footer {
        background:rgba(255,255,255,0.8) none repeat scroll !important;
    }
}